server:
  port: 8082

spring:
  datasource:
    url: jdbc:h2:file:./data/kunlun-lunch;MODE=PostgreSQL;AUTO_SERVER=TRUE
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

logging:

  level:
    root: INFO
    com.kunlunlunch: INFO

